.about-container {
    background-color: $whiteBlue;

    .hero-wrapper {
        @include center;

        .title {
            margin-top: 120px;
            @include titleStyle;
            @include smallTitleStyle;
            font-family: $playfair;
            letter-spacing: 4px;
            font-size: 4em;

        }

        .content-wrapper {
            height: 730px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include mobileGrid;
            @include mobileHeight(900px);
            

            .subheading {
                @include subHeadingStyle;
                @include smallSubHeadingStyle;
                width: 600px;
                text-align: center;
                margin-top: 50px;
                line-height: 180%;
                margin-left: 40px;
                font-size: 1.7em;
                @include mobileWidth(450px);
    
            }
    
            .john-image {
                background-image: url(https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1030&q=80);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 600px;
                width: 470px;
                margin-right: 30px;
                

            }
        }
        
    }

    .qualifications-wrapper {
        height: 500px;
        @include center;
        @include mobileHeight(300px);

        .title {
            @include titleStyle;
            @include smallTitleStyle;
            margin-bottom: 13px;
        }

        .subheading {
            @include subHeadingStyle;
            @include smallSubHeadingStyle;
            width: 600px;
            text-align: center;
            @include mobileWidth(450px);
        }
    }

    .skills-wrapper {
        @include center;
        height: 500px;
        @include mobileHeight(300px);

        .title {
            @include titleStyle;
            @include smallTitleStyle;
            margin-bottom: 15px;
        }

        .list-wrapper {
            text-align: center;
            @include subHeadingStyle;
            @include smallSubHeadingStyle;

            .list-item {
                margin-bottom: 15px;
            }
        }
    }

    .credit-image-wrapper {
        @include center;
        height: 700px;
        margin-bottom: 30px;

        .image-grid {
            display: grid;
            grid-template-columns: 1.3fr 1fr;
            grid-template-rows: 1.5fr 1fr;
            grid-gap: 25px;
            width: 75vw;
            height: 600px;
            @include mobileHeight(300px);

            .img {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                box-shadow: 0px 0px 3px 1px rgba($color: $spanishGrey, $alpha: 0.3);
            }

            .img1 {
                background-image:url('https://images.unsplash.com/photo-1501520158826-76df880863a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
                grid-row-start: 1;
                grid-row-end: 3;
            }

            .img2 {
                background-image: url('https://images.unsplash.com/photo-1544862870-a4d5e74dc313?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
                
                
            }

            .img3 {
                background-image: url('https://images.unsplash.com/photo-1470504932531-e5e26873b408?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
            }
        }
    }
}