.home-container {
    background-color: $whiteBlue;
}

.hero-wrapper {
    .parallax-photo {
        background-image: url(../images/mower_with_cass.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        @include center;
        
        .title {
            width: 400px;
            height: 70px;
            background-color: rgba($color: $yellow, $alpha: 1.0);
            @include center;
            align-self: flex-start;
            margin-bottom: 200px;
            margin-left: 150px;
            border-radius: 4px;
            font-family: $montserrat;
            font-size: 2em;
            letter-spacing: 2px;

        }
    }
}

   
.residential-commercial-wrapper {
    height: 400px;
    @include center;

    .title {
        font-family: $montserrat;
        font-size: 2.5em;
        color: $yellow;
        letter-spacing: 2px;
    }

    .subheading {
        font-family: $asap;
        font-size: 1.4em;
        width: 850px;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 15px;
        line-height: 35px;

    }

}