.home-container {
    background-color: $whiteBlue;
}

.hero-wrapper {
    .parallax-photo {
        background-image: url(../images/mower_with_cass.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        @include center;
        
        .title {
            width: 400px;
            height: 70px;
            background-color: rgba($color: $yellow, $alpha: 1.0);
            @include center;
            align-self: flex-start;
            margin-bottom: 200px;
            margin-left: 150px;
            border-radius: 4px;
            font-family: $montserrat;
            font-size: 2em;
            letter-spacing: 2px;
            @include mobileWidth(300px);
            @include mobileFontSize(1.5em);

        }
    }
}

   
.residential-commercial-wrapper {
    height: 400px;
    @include center;

    .title {
        @include titleStyle;
        @include smallTitleStyle;
    }

    .subheading {
        @include subHeadingStyle;
        @include smallSubHeadingStyle;
        width: 850px;
        text-align: center;
        margin-top: 15px;
        line-height: 35px;
    }
}

.touched-wrapper {
    @include center;
    height: 475px;

    .title {
        @include titleStyle;
        @include smallTitleStyle;
    }

    .subtitle {
        @include subHeadingStyle;
        @include smallSubHeadingStyle;
        margin-top: 10px;
    }

    .circle-image-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 800px;
        margin-top: 43px;

        .img1, .img2, .img3 {
            @include center;
            background-image: url(../images/mower_with_cass.jpg);
            background-position: center;
            background-size: cover;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }
}

.quality-wrapper {
    @include center;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
    .title {
        @include titleStyle;
        @include smallTitleStyle;
        
    }

    .subheading {
        @include subHeadingStyle;
        @include smallSubHeadingStyle;
        width: 700px;
        text-align: center;
        margin-top: 10px;
    }
}

.lawn-mower-img {
    background-image: url(../images/lawn-mower2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-bottom: -43px;
    width: 150px;
    height: 150px;
}

.animation-wrapper {
    width: 100vw;
    height: 13px;
    background-color: $lightGreen;
}
.grass-wrapper {
    width: 100vw;
    height: 35px;
    background-color: $middleGreen;
}

.helper-wrapper {
    @include center;
    height: 350px;
    @include mobileHeight(600px);

    .title {
        @include titleStyle;
        @include smallTitleStyle;
    }

    .subheading {
        @include subHeadingStyle;
        @include smallSubHeadingStyle;
        width: 70vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 25px;
        grid-gap: 40px;

        .list-wrapper {
            .item {
                @include center;
                margin-bottom: 8px;
                text-align: center;
                
            }
        }
    }

    .link{
        color: white;
        position:relative;
        text-decoration:none;
        display:inline-block;
        font-family: $montserrat;
        color: $spanishGrey;
        font-weight: 700;
        font-size: 1.1em;
        margin-top: 7px;

        &:hover{
            color: $spanishGrey;
        }
      }

      .link:after {
        display:block;
        content: '';
        border-bottom: solid 1px $spanishGrey;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin:100% 50%
      }
      .link:hover:after { 
        transform: scaleX(1);
        transform-origin:0 50%;
      }
}

.quotes-container {
    @include center;
    height: 550px;
    
    .title {
        @include titleStyle;
        @include smallTitleStyle;
        margin-bottom: 30px;
    }

    .quotes-wrapper {
        width: 75vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;

        .box-wrapper {
            @include center;
            height: 300px;
            justify-content: flex-start;
            box-shadow: 0px 0px 3px 1px rgba($color: $spanishGrey, $alpha: 0.3);

            .image {
                background-image: url(../images/mower_with_cass.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 60%
            }

            .subheading {
                text-align: center;
                padding-top: 17px;
                background-color: rgba($color: $spanishGrey, $alpha: 0.3);
                height: 40%;
                width: 100%;

            }
        }

    }
}

.connect-wrapper {
    @include center;
    height: 500px;

    .link{
        color: white;
        position:relative;
        text-decoration:none;
        display:inline-block;
        font-family: $montserrat;
        color: $spanishGrey;
        font-weight: 700;
        font-size: 1.1em;
        margin-top: 7px;

        &:hover{
            color: $spanishGrey;
        }
      }

      .link:after {
        display:block;
        content: '';
        border-bottom: solid 1px $spanishGrey;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin:100% 50%
      }
      .link:hover:after { 
        transform: scaleX(1);
        transform-origin:0 50%;
      }

    .info-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-top: 33px;
    }

    .title {
        @include titleStyle;
        @include smallTitleStyle;
    }

    .info {
        @include center;
        align-items: stretch;
        text-align: left;
        width: 300px;
        color: $eerieBlack;
        font-size: 1.1em;
        font-family: $montserrat;

        .phone {
            letter-spacing: 2px;
            margin-bottom: 5px;
        }

        .email {
            margin-top: 5px;
        }

    }

    .subheading {
        @include subHeadingStyle;
        @include smallSubHeadingStyle;
        text-align: center;
        width: 600px;
    }
}

