.home-container {
    background-color: $whiteBlue;
}

.hero-wrapper {
    .parallax-photo {
        background-image: url(../images/mower_with_cass.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        @include center;
        
        .title {
            width: 400px;
            height: 70px;
            background-color: rgba($color: $yellow, $alpha: 1.0);
            @include center;
            align-self: flex-start;
            margin-bottom: 200px;
            margin-left: 150px;
            border-radius: 4px;
            font-family: $montserrat;
            font-size: 2em;
            letter-spacing: 2px;

        }
    }
}

   
.residential-commercial-wrapper {
    height: 400px;
    @include center;

    .title {
        @include titleStyle;
    }

    .subheading {
        @include subHeadingStyle;
        width: 850px;
        text-align: center;
        margin-top: 15px;
        line-height: 35px;
    }
}

.touched-wrapper {
    @include center;
    height: 475px;

    .title {
        @include titleStyle;
    }

    .subtitle {
        @include subHeadingStyle;
        margin-top: 10px;
    }

    .circle-image-wrapper {
        display: flex;
        justify-content: space-between;
        width: 800px;
        margin-top: 43px;

        .img1, .img2, .img3 {
            background-image: url(../images/mower_with_cass.jpg);
            background-position: center;
            background-size: cover;
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }
    }
}

.quality-wrapper {
    @include center;
    height: 300px;
    margin-top: 30px;
    
    .title {
        @include titleStyle;
    }

    .subheading {
        @include subHeadingStyle;
        width: 700px;
        text-align: center;
        margin-top: 10px;
    }
}

//still working on this!
.animation-wrapper {
    width: 100vw;
    height: 40px;
    background-color: $lightGreen;
}

.helper-wrapper {
    @include center;

    .title {
        @include titleStyle;

    }

    .subheading {
        @include subHeadingStyle;
        width: 70vw;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        
        .list-wrapper {
            .item {
                @include center;
                margin-bottom: 8px;
            }
        }
    }
}

.quotes-container {
    @include center;
    height: 550px;
    
    .title {
        @include titleStyle;
    }

    .quotes-wrapper {
        width: 75vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;

        .box-wrapper {
            @include center;
            height: 300px;
            justify-content: flex-start;
            box-shadow: 0px 0px 3px 1px rgba($color: $spanishGrey, $alpha: 0.3);

            .image {
                background-image: url(../images/mower_with_cass.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 60%
            }

            .subheading {
                text-align: center;
                padding-top: 17px;
                background-color: rgba($color: $spanishGrey, $alpha: 0.3);
                height: 40%;
                width: 100%;

            }
        }

    }
}

